/* Write your code here. */
.bg-container {
  display: flex;
  flex-direction: column;
}
.heading {
  font-size: 35px;
  font-family: "Roboto";
  color: #0f172a;
  padding: 10px;
}
.icon {
  height: 16px;
  width: 16px;
}
.info-container {
  background-color: #0b69ff;
  border-width: 0px;
  border-style: solid;
  height: 45px;
  width: 280px;
  padding: 10px;
  margin: 12px;
}
.success-container {
  background-color: #2dca73;
  border-width: 0px;
  height: 45px;
  width: 280px;
  padding: 10px;
  margin: 12px;
}
.warning-container {
  background-color: #ffb800;
  border-width: 0px;
  height: 45px;
  width: 280px;
  padding: 10px;
  margin: 12px;
}
.error-container {
  background-color: #ff0b37;
  border-width: 0px;
  height: 45px;
  width: 280px;
  padding: 10px;
  margin: 12px;
}
.text {
  font-size: 13px;
  color: white;
  font-family: "Roboto";
}
